@model IEnumerable<CST350_Milestone.Models.SavedGameModel>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateSaved)
            </th>
            @*             <th>
            @Html.DisplayNameFor(model => model.GameData)
            </th> *@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateSaved)
                </td>
                @*             <td>
            @Html.DisplayFor(modelItem => item.GameData)
            </td> *@
                <td>              
                    <button class="btn btn-primary load-saved-game" data-id="@item.Id">Load Saved Game</button>
                    <button class="btn btn-danger delete-game" data-id="@item.Id">Delete</button>

                </td>
            </tr>
        }
    </tbody>
</table>
