@model CST350_Milestone.Models.BoardModel

@{
    // Calculate the total number of cells based on the board's size (assuming a square board).
    int totalCel = Model.Size * Model.Size;
}
@* Surround the entire board with a form that can be submitted *@

<h1>LET'S PLAY</h1>


<form action="/" method="post" class="game-zone">
    <div class="button-zone" style="--button-count: @Model.Size;">
        @* Iterate over the buttons and display them *@

        @for (int i = 0; i < totalCel; i++)
        {
            <div id="@i">
                @Html.Partial("ShowOneButton", @Model.CellListData[i])
            </div>
        }
    </div>
</form>

@* Display the game's current status (win, loss, etc.) *@
@* Change GameStatus to score? *@
<h2>Results: @ViewBag.Calc</h2>
<h2>Timer: @ViewBag.Timer</h2>